---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1>Shawn Hershey</h1>
  <p>
    Dancer, musician, and software developer based in New York City.
  </p>
  <p>
    Shawn has been swing and blues dancing since 1999 and teaching since 2002.
    He's a trumpet player and bandleader of <a href="https://www.friedbananas.com" target="_blank" rel="noopener">The Fried Bananas</a>,
    a swing and blues band based in New York.
  </p>
  <p>
    He currently runs <a href="https://nycbalboa.com/thursday-practice">Thursday Practice</a>,
    a weekly Balboa social in Midtown Manhattan.
  </p>
</Layout>
